.app {
  text-align: center;
  margin: 20px;
}

li{
  list-style-type: none;
}

.input, .select-menu{
  display: inline-block;
}

.select-menu{
  vertical-align: top;
  margin: 10px;
}

button{
  display: block;
  text-align: center;
  margin: auto;
}

.value{
  border: 1px solid yellow;
}